<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dev. Armindo Malafaia Neto (2021-10)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dev. Armindo Malafaia Neto (2021-10)</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-button expand="full" (click)="onClickCount()">Let's Count
    </ion-button>

    <label>Itens Duplicates is : {{nrDuplicates}}</label>

  </div>
</ion-content>
